<h1>Listing missions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Status</th>
      <th>Challenge</th>
      <th>Bloknot</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.Status %></td>
        <td><%= mission.Challenge %></td>
        <td><%= mission.bloknot_id %></td>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Show', mission %></button></td>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_mission_path(mission) %></button></td>
        <td><button type="button" class="btn btn-warning"><%= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-success"><%= link_to 'New Mission', new_mission_path %></button>

<button type="button" class="btn btn-success"><%= link_to 'Listing Bloknot', bloknots_path %></button>