<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @mission.Status %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @mission.Challenge %>
</p>

<p>
  <strong>Bloknot:</strong>
  <%= @mission.bloknot_id %>
</p>

<button type="button" class="btn btn-success"><%= link_to 'Edit', edit_mission_path(@mission) %></button> |
<button type="button" class="btn btn-success"><%= link_to 'Back', missions_path %></button>
